[Unit]
Description=Rproxy service.
After=network.target consuld.service

[Service]
LimitNOFILE=65536
Environment=APP_CONFIG_PATH=/opt/rproxy/config/rproxy.toml
User=root
Type=simple
PIDFile=/run/rproxy.pid
WorkingDirectory=/opt/rproxy/
ExecStart=/opt/rproxy/rproxy -c /opt/rproxy/config/core.conf

[Install]
WantedBy=multi-user.target